<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Bugarski</h5>

        <p>
          Tehnički pregled, registracija, šlep služba, osiguranje,
          prenos vlasništva i drumski prevoz tereta.
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="fw-bold">Navigacija</h5>

        <ul class="list-unstyled">
          <li>
            <a class="text-white text-decoration-none" href="index.html">Početna</a>
          </li>

          <li>
            <a class="text-white text-decoration-none" href="prevoz.html">Prevoz</a>
          </li>

          <li>
            <a class="text-white text-decoration-none" href="tehnicki-pregled.html">Tehnički pregled</a>
          </li>

          <li>
            <a class="text-white text-decoration-none" href="galerija.html">Galerija</a>
          </li>

          <li>
            <a class="text-white text-decoration-none" href="kontakt.html">Kontakt</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
  <h5 class="fw-bold">Kontakt</h5>

  <div class="footer-line">
    <i class="fa-solid fa-location-dot icon-footer"></i>
    <span>Bogoljuba Uroševića Crnog 23-27</span>
  </div>

  <div class="footer-line">
    <i class="fa-solid fa-car icon-footer"></i>

    <span class="footer-inline">
      <span>Tehnički:</span>

      <a
        class="text-white text-decoration-none"
        href="tel:+381640008727">
        064/000 87 27
      </a>
    </span>
  </div>

  <div class="footer-line footer-line-top">
    <img
      src="assets/img/tow-truck.png"
      alt="Šlep služba"
      class="footer-custom-icon">

    <div class="footer-contact-content">
      <span>Šlep služba:</span>

      <a
        class="text-white text-decoration-none"
        href="tel:+381640008728">
        064/000 87 28
      </a>

      <a
        class="text-white text-decoration-none"
        href="mailto:slepsluzba_bugarski@outlook.com">
        slepsluzba_bugarski@outlook.com
      </a>
    </div>
  </div>

  <div class="footer-line">
    <i class="fa-solid fa-envelope icon-footer"></i>

    <a
      class="text-white text-decoration-none"
      href="mailto:tehnickibugarski@hotmail.com">
      tehnickibugarski@hotmail.com
    </a>
  </div>
</div>

    <hr class="bg-light">

    <p class="text-center mb-0">
      © 2026 Bugarski | Website by
      <a href="https://jelkesudo.github.io/portfolio/"
        target="_blank"
        rel="noopener noreferrer"
        class="footer-author-link">
        Filip Jelić
      </a>
    </p>
  </div>
</footer>
