<footer class="bg-dark text-white pt-5 pb-4">

    <div class="container">

        <div class="row">

            <div class="col-md-4 mb-4">

                <h5 class="fw-bold">Transport Firma</h5>

                <p>
                    Profesionalni drumski prevoz tereta i tehnički pregled vozila.
                    Pouzdana logistika i kvalitetna usluga.
                </p>

            </div>

            <div class="col-md-4 mb-4">

                <h5 class="fw-bold">Navigacija</h5>

                <ul class="list-unstyled">

                    <li>
                        <a class="text-white text-decoration-none" href="index.html">
                            Početna
                        </a>
                    </li>

                    <li>
                        <a class="text-white text-decoration-none" href="prevoz.html">
                            Prevoz
                        </a>
                    </li>

                    <li>
                        <a class="text-white text-decoration-none" href="tehnicki-pregled.html">
                            Tehnički pregled
                        </a>
                    </li>

                    <li>
                        <a class="text-white text-decoration-none" href="kontakt.html">
                            Kontakt
                        </a>
                    </li>

                </ul>

            </div>

            <div class="col-md-4 mb-4">

                <h5 class="fw-bold">Kontakt</h5>

                <p class="mb-1">
                    📍 Adresa firme
                </p>

                <p class="mb-1">
                    📞 +381 xx xxx xxx
                </p>

                <p>
                    ✉ info@firma.rs
                </p>

            </div>

        </div>

        <hr class="bg-light">

        <p class="text-center mb-0">

            © 2026 Transport Firma

        </p>

    </div>

</footer>